.css-1eqdgzv-MuiPaper-root-MuiSnackbarContent-root {
    width: 20% !important;
    display: grid !important;
    font-size: 18px !important;
    text-align: center !important;
    background-color: rgb(50 50 50 / 90%) !important;
}
