.ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-content
    > table
    > thead
    > tr
    > th,
.ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-header
    > table
    > thead
    > tr
    > th,
.ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-body
    > table
    > thead
    > tr
    > th,
.ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-summary
    > table
    > thead
    > tr
    > th,
.ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-content
    > table
    > tbody
    > tr
    > td,
.ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-header
    > table
    > tbody
    > tr
    > td,
.ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-body
    > table
    > tbody
    > tr
    > td,
.ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-summary
    > table
    > tbody
    > tr
    > td,
.ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-content
    > table
    > tfoot
    > tr
    > th,
.ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-header
    > table
    > tfoot
    > tr
    > th,
.ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-body
    > table
    > tfoot
    > tr
    > th,
.ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-summary
    > table
    > tfoot
    > tr
    > th,
.ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-content
    > table
    > tfoot
    > tr
    > td,
.ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-header
    > table
    > tfoot
    > tr
    > td,
.ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-body
    > table
    > tfoot
    > tr
    > td,
.ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-summary
    > table
    > tfoot
    > tr
    > td {
    text-align: center;
    padding: 10px;
}

.ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-content
    > table
    > thead
    > tr
    > th {
    font-weight: 600;
}

tr:hover,
thead:hover {
    background: rgb(203, 227, 247) !important;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
    background: none !important;
}

.ant-table-tbody > tr.ant-table-row-selected > td {
    background: #e6f7ff;
    border-color: rgba(0, 0, 0, 0.03);
}

.ant-form-item {
    margin-bottom: 7px;
}

.ant-drawer-body {
    padding: 0 !important;
}

.ant-drawer-content-wrapper {
    width: 250px !important;
}

.ant-layout-header {
    padding: 0 25px !important;
}

.branches .ant-list .ant-list-item {
    display: block;
}

.branches .ant-list .ant-list-item h3 {
    margin: 10px 0;
}

.branches .ant-list .ant-list-item p {
    margin: 5px 0;
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1020px) {
}

@media screen and (max-width: 767px) {
    .ant-space-align-center {
        justify-content: center;
        flex-wrap: wrap;
        gap: 0 !important;
    }

    .ant-card-body {
        padding: 5px;
    }
}
